<div class="animated fadeIn">
  <div class="row">
    <!--1. Classic-->
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          Classic
          <div class="card-header-actions">
            <a href="https://valor-software.com/ngx-bootstrap/#/carousel" target="_blank">
              <small className="text-muted">docs</small>
            </a>
          </div>
        </div>
        <a routerLink = "/discuss/classic">
          <div class="card-body">
            <carousel [interval]="3000">
              <slide>
                <img src="https://loremflickr.com/900/500/mountains?lock=1" alt="First slide" style="display: block; width: 100%;">
              </slide>
              <slide>
                <img src="https://loremflickr.com/900/500/mountains?lock=2" alt="Second slide" style="display: block; width: 100%;">
              </slide>
              <slide>
                <img src="https://loremflickr.com/900/500/mountains?lock=3" alt="Third slide" style="display: block; width: 100%;">
              </slide>
            </carousel>
          </div>
        </a>
      </div>
    </div>
    <!--2. Mordern-->
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          Morden
          <div class="card-header-actions">
            <a href="https://valor-software.com/ngx-bootstrap/#/carousel" target="_blank">
              <small className="text-muted">docs</small>
            </a>
          </div>
        </div>
        <a routerLink="/discuss/mordern">
          <div class="card-body">
            <carousel [interval]="3000">
              <slide>
                <img src="https://loremflickr.com/900/500/mountains?lock=1" alt="First slide" style="display: block; width: 100%;">
              </slide>
              <slide>
                <img src="https://loremflickr.com/900/500/mountains?lock=2" alt="Second slide" style="display: block; width: 100%;">
              </slide>
              <slide>
                <img src="https://loremflickr.com/900/500/mountains?lock=3" alt="Third slide" style="display: block; width: 100%;">
              </slide>
            </carousel>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <!--3. Rock-->
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          Rock
          <div class="card-header-actions">
            <a href="https://valor-software.com/ngx-bootstrap/#/carousel" target="_blank">
              <small className="text-muted">docs</small>
            </a>
          </div>
        </div>
        <a routerLink="/discuss/rock">
          <div class="card-body">
            <carousel [interval]="3000">
              <slide>
                <img src="https://loremflickr.com/900/500/mountains?lock=1" alt="First slide" style="display: block; width: 100%;">
              </slide>
              <slide>
                <img src="https://loremflickr.com/900/500/mountains?lock=2" alt="Second slide" style="display: block; width: 100%;">
              </slide>
              <slide>
                <img src="https://loremflickr.com/900/500/mountains?lock=3" alt="Third slide" style="display: block; width: 100%;">
              </slide>
            </carousel>
          </div>
        </a>
      </div>
    </div>
    <!--4. New-Jazz-->
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          New-Jazz
          <div class="card-header-actions">
            <a href="https://valor-software.com/ngx-bootstrap/#/carousel" target="_blank">
              <small className="text-muted">docs</small>
            </a>
          </div>
        </div>
        <a routerLink="newjazz">
          <div class="card-body">
            <carousel [interval]="3000">
              <slide>
                <img src="https://loremflickr.com/900/500/mountains?lock=1" alt="First slide" style="display: block; width: 100%;">
              </slide>
              <slide>
                <img src="https://loremflickr.com/900/500/mountains?lock=2" alt="Second slide" style="display: block; width: 100%;">
              </slide>
              <slide>
                <img src="https://loremflickr.com/900/500/mountains?lock=3" alt="Third slide" style="display: block; width: 100%;">
              </slide>
            </carousel>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
