<div class="jumbotron" style="background-color: white">
  <h1>餐廳</h1>      
  <p>搜尋您想去的餐廳</p>
</div>
<div class="row ml-1 justify-content-center">
  <!--1. 左半部-->
  <div class="container col-sm-4" style="background-color: white">
    <img class="img-fluid rounded mt-5 ml-4 googlemap" src="assets/img/restaurant/Google_map.png"/>
    <div class="centered">檢視地圖</div>
    <mat-card>
      <mat-card-content>
        <h5 class="example-h5">價格範圍</h5>
        <section class="example-section"> 
          <mat-checkbox class="example-margin" [(ngModel)]="checkedlow" (change)="Child.Checkedlow(checkedlow)">100 ~ 500 TWD</mat-checkbox>
        </section>
        <section class="example-section">
          <mat-checkbox class="example-margin" [(ngModel)]="checkedmedium" (change)="Child.Checkedmedium(checkedmedium)">500 ~ 1000 TWD</mat-checkbox>
        </section>
        <section class="example-section">
          <mat-checkbox class="example-margin" [(ngModel)]="checkedhigh" (change)="Child.Checkedhigh(checkedhigh)">1000 ~ 1500 TWD</mat-checkbox>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  <!--2. 右半部-->
  <div class="col-sm-8" style="background-color: white">
      <mat-tab-group [(selectedIndex)]="tabIndex"
                      (focusChange)="tabFocusChange($event)">
          <mat-tab label="甜點" style="height:1000px">
              <app-restaurant-child [restaurantlists]="restaurantlists" #Child> </app-restaurant-child>
          </mat-tab>
          <mat-tab label="義士料理" style="height:1000px">
              <app-restaurant-child [restaurantlists]="restaurantlists" #Child> </app-restaurant-child>
          </mat-tab>
          <mat-tab label="中士料理" style="height:1000px">
              <app-restaurant-child [restaurantlists]="restaurantlists" #Child> </app-restaurant-child>
          </mat-tab>
      </mat-tab-group>
    <nav aria-label="Page navigation example" class="mt-4">
      <ul class="pagination justify-content-end">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div><!--/.col-->
</div>
