<div class="animated fadeIn">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="row justify-content-center">
      <div class="col-md-10 mt-3 mb-3">
        <p>店家列表/新增店家</p>
      </div>
    </div>
    <!--1. 店家資料-->
    <div formGroupName="storeinformation" class="row justify-content-center">
        <div class="col-md-10">
          <div class="card">
            <div class="card-header">
              <strong>店家資料</strong> 
            </div>
            <div class="card-body">
              <div enctype="multipart/form-data" class="form-horizontal">
                <!--1.1 店家名稱-->
                <div class="form-group row">
                  <label class="col-md-2 col-form-label">店家名稱</label>
                  <div class="col-md-2">
                      <input formControlName="storename" type="text" id="storename" name="storename" class="form-control" required> 
                  </div>
                  <!--Validation Error-->
                  <div class="warn" *ngIf="storename.invalid && (storename.dirty || storename.touched)">
                    <div *ngIf="storename.errors.required">
                      請輸入店家名稱
                    </div>
                    <div *ngIf="storename.errors.maxlength">
                      最多 10 個字
                    </div>
                  </div>
                </div>
                <!--1.2 店家分類-->
                <div class="form-group row">
                  <label class="col-md-2 col-form-label">店家分類</label>
                  <div class="col-md-2">
                    <select formControlName = "storeclass" id="storeclass" name="storeclass" class="form-control">
                      <option *ngFor = "let storeclass of storeclasses" [ngValue]="storeclass.index">
                          {{ storeclass.each }}
                      </option>
                    </select>
                  </div>
                  <!--Validation Error-->
                  <div class="warn" *ngIf="storeclass.invalid && (storeclass.dirty || storeclass.touched)">
                    <div *ngIf="storeclass.errors.required">
                      請輸入統一編號
                    </div>
                    <div *ngIf="storeclass.errors.storeclass">
                      統一編號格式錯誤
                    </div>
                  </div>
                </div>
                <!--1.3 統一編號-->
                <div class="form-group row">
                  <label class="col-md-2 col-form-label" for="texID">統一編號</label>
                  <div class="col-md-2">
                    <input formControlName="taxID" type="text" id="taxID" name="taxID" class="form-control">
                  </div>
                  <!--Validation Error-->
                  <div class="warn" *ngIf="taxID.invalid && (taxID.dirty || taxID.touched)">
                    <div *ngIf="taxID.errors.required">
                      請輸入統一編號
                    </div>
                    <div *ngIf="taxID.errors.taxID">
                      統一編號格式錯誤
                    </div>
                  </div>
                </div>
                <!--1.4 公司註冊國籍-->
                <div class="form-group row">
                  <label class="col-md-2 col-form-label" for="select1">公司註冊國籍</label>
                  <div class="col-md-2">
                    <select formControlName = "companycountry"  id="companycountry" name="companycountry" class="form-control">
                      <option *ngFor = "let companycountry of companycountries" [ngValue]="companycountry">
                        {{ companycountry.each }}
                      </option>
                    </select>
                  </div>
                </div>
                <!--1.5 公司地址-->
                <div class="form-group row">
                  <label class="col-md-2 col-form-label" for="select2">公司地址</label>
                  <div class="col-sm-2">
                    <select formControlName = "country"  id="country" name="country" class="form-control">
                      <option *ngFor = "let country of countries" [ngValue]="country">
                        {{ country.each }}
                      </option>
                    </select>
                  </div>
                  <div class="col-sm-2">
                    <select formControlName = "city" id="county" name="county" class="form-control">
                      <option *ngFor = "let city of cities" [ngValue]="city">
                          {{ city.each }}
                      </option>
                    </select>
                  </div>
                  <div class="col-sm-2">
                    <select formControlName = "area" id="area" name="area" class="form-control">
                      <option *ngFor = "let singlearea of area" [ngValue]="singlearea">
                        {{ singlearea.each }}
                      </option>
                    </select>
                  </div>
                  <div class="col-sm-4">
                      <input formControlName="address"  type="text" id="address" name="address" class="form-control" placeholder="地址">
                  </div>
                </div>
                <!--1.6 公司電話-->
                <div class="form-group row">
                  <label class="col-md-2 col-form-label">公司電話</label>
                  <div class="col-md-2">
                    <input formControlName="companyphone" type="text" id="companyphone" name="companyphone" class="form-control" placeholder="區碼">
                  </div>
                  <div class="col-md-2">             
                    <input type="text" id="phonenumber" name="phonenumber" class="form-control" placeholder="電話">
                  </div>
                </div>
                <!--1.7 網址-->
                <div class="form-group row">
                  <label class="col-md-2 col-form-label">網址</label>
                  <div class="col-md-2">
                    <input formControlName="internetsite" type="text" id="internetsite" name="internetsite" class="form-control" placeholder="網址">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

    <!--2. 負責人資料-->
    <div formGroupName="personinchargeinfo" class="row justify-content-center">
        <div class="col-md-10">
          <div class="card">
            <div class="card-header">
              <strong>負責人資料</strong> 
            </div>
            <div class="card-body">
              <div enctype="multipart/form-data" class="form-horizontal">
                <!--2.1 姓名-->
                <div class="form-group row">
                  <label class="col-md-2 col-form-label">姓名</label>
                  <div class="col-md-2">
                      <input formControlName="principal" type="text" id="principal" name="principal" class="form-control">
                  </div>
                </div>
                <!--2.2 國籍-->
                <div class="form-group row">
                  <label class="col-md-2 col-form-label" for="select3">國籍</label>
                  <div class="col-md-2">
                    <select formControlName="chargeselectcountry" id="chargeselectcountry" name="chargeselectcountry" class="form-control">
                      <option *ngFor = "let chargeselectcountry of chargeselectcountries" [ngValue]="chargeselectcountry">
                        {{ chargeselectcountry.each }}
                      </option>
                    </select>
                  </div>
                </div>
                <!--2.3 身分證字號-->
                <div class="form-group row">
                  <label class="col-md-2 col-form-label" for="identity">身份證字號</label>
                  <div class="col-md-2">
                    <input formControlName="identity" type="text" id="identity" name="identity" class="form-control">
                  </div>
                  <!--Validation Error-->
                  <div class="warn" *ngIf="identity.invalid && (identity.dirty || identity.touched)">
                      <div *ngIf="identity.errors.required">
                        請輸入身分證字號
                      </div>
                      <div *ngIf="identity.errors.identity">
                        身分證輸入錯誤
                      </div>
                  </div>
                </div>
                <!--2.4 護照號碼-->
                <div class="form-group row">
                  <label class="col-md-2 col-form-label">護照號碼</label>
                  <div class="col-md-2">
                    <input formControlName="passportnumber" type="text" id="passportnumber" name="passportnumber" class="form-control">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

    <!--3. 聯絡人資料-->
    <div formGroupName="contactinfo" class="row justify-content-center">
        <div class="col-md-10">
          <div class="card">
            <div class="card-header">
              <strong>聯絡人資料</strong> 
            </div>
            <div class="card-body">
              <div enctype="multipart/form-data" class="form-horizontal">
                <!--3.1 姓名-->
                <div class="form-group row">
                  <label class="col-md-2 col-form-label">姓名</label>
                  <div class="col-md-2">
                      <input formControlName="contactperson" type="text" id="contactperson" name="contactperson" class="form-control">
                  </div>
                </div>
                <!--3.2 電話-->
                <div class="form-group row">
                  <label class="col-md-2 col-form-label" for="contactphone">電話</label>
                  <div class="col-md-2">
                    <input formControlName="contactphone" type="text" id="contactphone" name="contactphone" class="form-control">
                  </div>
                  <!--Validation Error-->
                  <div class="warn" *ngIf="contactphone.invalid && (contactphone.dirty || contactphone.touched)">
                    <div *ngIf="contactphone.errors.required">
                      請輸入手機號碼
                    </div>
                    <div *ngIf="contactphone.errors.pattern">
                      手機號碼格式錯誤
                    </div>
                  </div>
                </div>
                <!--3.3 Email-->
                <div class="form-group row">
                  <label class="col-md-2 col-form-label">Email</label>
                  <div class="col-md-2">
                    <input formControlName="email" type="text" id="email" name="email" class="form-control">
                  </div>
                  <div class="warn" *ngIf="email.errors?.email">
                    Email 格式錯誤
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

    <!--4. 商家設定-->
    <div formGroupName="storesetup" class="row justify-content-center">
      <div class="col-md-10">
        <div class="card">
          <div class="card-header">
            <strong>商家設定</strong> 
          </div>
          <div class="card-body">
            <div enctype="multipart/form-data" class="form-horizontal">
              <!--4.1 店家折扣-->
              <div class="form-group row">
                <label class="col-md-2 col-form-label">店家折扣</label>
                <div class="col-md-2">
                  <div class="input-prepend input-group">
                    <input formControlName="discount" type="text" id="discount" name="discount" class="form-control">
                    <div class="input-group-append">
                      <span class="input-group-text">%</span>
                    </div>
                  </div>
                  <!--Validation Error-->
                  <div class="warn" *ngIf="discount.invalid && (discount.dirty || discount.touched)">
                    <div *ngIf="discount.errors.required">
                      請輸入店家折扣
                    </div>
                    <div *ngIf="discount.errors.max || discount.errors.min">
                      應介於 0 ~ 100 間
                    </div>
                  </div>
                </div>
              </div>
              <!--4.2 手續費率-->
              <div class="form-group row">
                <label class="col-md-2 col-form-label" for="handlingfee">手續費率</label>
                <div class="col-md-2">
                  <input formControlName="handlingfee" type="text" id="handlingfee" name="handlingfee" class="form-control">
                </div>
              </div>
              <!--4.3 收款幣別-->
              <div class="form-group row">
                <label class="col-md-2 col-form-label" for="select4">收款幣別</label>
                <div class="col-md-2">
                  <select formControlName="currencyclass" id="currencyclass" name="currencyclass" class="form-control">
                    <option *ngFor = "let currencyclass of currencyclasses" [ngValue]="currencyclass.index">
                      {{ currencyclass.each }}
                    </option>
                  </select>
                </div>
              </div>
              <!--4.4 結算方式-->
              <div class="form-group row">
                <label class="col-md-2 col-form-label">結算方式</label>
                <div class="col-md-2">
                  <select formControlName = "settlementType" id="settlementType" name="settlementType" class="form-control">
                    <option *ngFor = "let settlementType of settlementTypes" [ngValue]="settlementType">
                        {{ settlementType.each }}
                    </option>
                  </select>
                </div>
                <!--Validation Error-->
                <div class="warn" *ngIf="settlementType.invalid && (settlementType.dirty || settlementType.touched)">
                  <div *ngIf="settlementType.errors.required">
                    請選擇結算方式
                  </div>
                </div>
              </div>
              <!--4.5 商家狀態-->
              <div class="form-group row">
                <label class="col-md-2 col-form-label">商家狀態</label>
                <div class="col-md-2">
                  <select formControlName = "status" id="status" name="status" class="form-control">
                    <option *ngFor = "let status of statuses" [ngValue]="status.index">
                        {{ status.each }}
                    </option>
                  </select>
                </div>
                <!--Validation Error-->
                <div class="warn" *ngIf="status.invalid && (status.dirty || status.touched)">
                  <div *ngIf="status.errors.required">
                    請選擇商家狀態
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--5. 業務設定-->
    <div formGroupName="businesssetup" class="row justify-content-center">
      <div class="col-md-10">
        <div class="card">
          <div class="card-header">
            <strong>業務設定</strong> 
          </div>
          <div class="card-body">
            <div enctype="multipart/form-data" class="form-horizontal">
              <!--業務代碼-->
              <div class="form-group row">
                <label class="col-md-2 col-form-label">業務代碼</label>
                <div class="col-md-2">
                    <input formControlName="business" type="text" id="business" name="business" class="form-control">
                </div>
                <!--Validation Error-->
                <div class="warn" *ngIf="business.invalid && (business.dirty || business.touched)">
                  <div *ngIf="business.errors.required">
                    請輸入業務代碼
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--6. 確認-->
    <div class="row justify-content-center">
      <div class="col-md-offset-10">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i>確認</button>
      </div>
    </div>
  </form>
</div>

