.white {
    background-color: white;
    height: 600px;
    overflow-y: scroll;
}

.focus {
    cursor: pointer;
}

.content {
    text-align: justify;
    text-justify:inter-ideograph;
}

.special{
    display: none;
}