<div class="animated fadeIn">
  <div class ="row">   
      <div class = 'col-sm-12 col-md-4'>會員列表</div>
      <div class ="col-sm-12 col-md-8">
          <div class ="input-group">
              <div class ="input-group-btn search-panel">
                  <button (click)="deleteSearch(searchBox)" type="button" class ="btn btn-default dropdown-toggle" data-toggle="dropdown">
                      <span id="search_concept">清除搜尋</span> 
                  </button>
              </div>
              <input type="hidden" name="search_param" value="all" id="search_param"/>         
              <input type="text" class ="form-control" name="x" style="text-align:center" 
                #searchBox id="search-box" (keyup.enter)="search(searchBox.value)" 
                placeholder="姓名/手機"/>
              <span class ="input-group-btn">
                  <button class ="btn btn-default" type="button"><span class ="glyphicon glyphicon-search"></span></button>
              </span>
          </div>
      </div>
  </div>
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
      </div>
      <div class="card-body">
        <table class="table table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th>註冊日期</th>
              <th>手機</th>
              <th>姓名</th>
              <th>email</th>
              <th>狀態</th>
              <th>詳細資料</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let member of accounts">
              <td>{{member.created_time}}</td>
              <td>{{member.account}}</td>
              <td>{{member.name}}</td>
              <td>{{member.email}}</td>
              <td>{{member.status}}</td>
              <td>
                  <a routerLink ="detail/{{member.account}}">
                    <span class="badge badge-success">會員資料</span>
                  </a>
                  <span class="badge badge-secondary">交易紀錄</span>
              </td>
            </tr>
          </tbody>
        </table>
        <nav>
          <ul class="pagination">
            <li (click)="decrease()" class="page-item"><a class="page-link">Prev</a></li>
            <li (click)="getaccount(1)" class="page-item active"><a class="page-link">1</a></li>
            <li (click)="getaccount(2)" class="page-item"><a class="page-link">2</a></li>
            <li (click)="getaccount(3)" class="page-item"><a class="page-link">3</a></li>
            <li (click)="increase()" class="page-item"><a class="page-link">Next</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <!--/.col-->
</div>
</div>

