<!--Chat Area-->
<div class="container border bg-light mb-5 chat">
    <div class="row justify-content-center">
        <h5 class="ml-5 mb-4 mt-5">Chat Room </h5>
    </div>
    <div class="row justify-content-center mt-5">
        <div [style]= "chatstyle" class="col-12 col-md-8">
            <div class="mt-3" [style.margin-left]="self ? '150px' : '0px' " *ngFor= "let eachMessage of TextAreaMessage">
                {{eachMessage.Name}}: {{eachMessage.Message}}
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Name </span>
                </div>
                <input type="text" class="form-control" #Name/>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Chat  </span>
                </div>
                <input type="text" class="form-control" #Chat/>
            </div>
            <div class="row justify-content-center mb-5">
                <button type="button" class="btn btn-dark mt-3" (click)="ConnectWebSocket(Chat.value, Name.value)" id="btn">Send</button>
                <button type="button" class="btn btn-dark mt-3 ml-2" (click)="close()">X</button>
            </div>
        </div>
    </div>
</div>