
<!-- Container for the image gallery -->
<div class="container" id="gallery">

  <!-- Full-width images with number text -->
  <div class="mySlides">
    <div class="numbertext">1 / 6</div>
      <img src="assets/img/restaurant/restaurant-1.jpg" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">2 / 6</div>
      <img src="assets/img/restaurant/restaurant-2.jpg" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">3 / 6</div>
      <img src="assets/img/restaurant/restaurant-3.jpg" style="width:100%">
  </div>

  <!-- Next and previous buttons -->
  <a class="prev" (click) = "plusSlides(-1)">&#10094;</a>
  <a class="next" (click) = "plusSlides(1)">&#10095;</a>

  <!-- Image text -->
  <div class="caption-container">
    <p id="caption"></p>
  </div>

  <!-- Thumbnail images -->
  <div class="row">
    <div class="column">
      <img class="demo cursor" src="assets/img/restaurant/restaurant-1.jpg" style="width:100%" (click) ="currentSlide(1)" alt="The Woods">
    </div>
    <div class="column"> 
      <img class="demo cursor" src="assets/img/restaurant/restaurant-2.jpg" style="width:100%" (click) ="currentSlide(2)" alt="Cinque Terre">
    </div>
    <div class="column">
      <img class="demo cursor" src="assets/img/restaurant/restaurant-3.jpg" style="width:100%" (click) ="currentSlide(3)" alt="Mountains and fjords">
    </div>
  </div>
</div>

<div class="row">
  <button mat-raised-button (click)="openUploadDialog()">新增照片</button>
</div>


<div class="row">
  <div class="col-sm restaurant">
    評論
  </div>
  <div class="col-sm restaurant">菜單</div>
  <div class="col-sm restaurant">Google map</div>
</div>
